* {
    background:               #101417;
    on-background:            #dfe3e8;
    surface:                  #1c2024;
    on-surface:               #dfe3e8;
    on-surface-variant:       #c1c7ce;
    primary:                  #94cdf7;
    primary-fixed:            #94cdf7;
    primary-fixed-dim:        #b7c9d9;
    on-primary:               #101417;
    on-primary-fixed:         #101417;
    on-primary-fixed-variant: #1c2024;
    primary-container:        #1c2024;
    on-primary-container:     #dfe3e8;
    secondary:                #b7c9d9;
    on-secondary:             #101417;
    secondary-container:      #1c2024;
    on-secondary-container:   #dfe3e8;
    tertiary:                 #b7c9d9;
    on-tertiary:              #101417;
    tertiary-container:       #1c2024;
    on-tertiary-container:    #dfe3e8;
    error:                    #ffb4ab;
    on-error:                 #101417;
    error-container:          #262a2e;
    on-error-container:       #ffb4ab;
    surface-dim:              #41474d;
    surface-bright:           #262a2e;
    surface-container:        #101417;
    surface-container-high:   #1c2024;
    surface-container-highest:#262a2e;
    outline:                  #c1c7ce;
    outline-variant:          #262a2e;
    inverse-surface:          #dfe3e8;
    inverse-on-surface:       #101417;
    inverse-primary:          #101417;
    shadow:                   #000000;
    scrim:                    #000000;
}
