/* ML4W compact launcher for HyDE ARM */

configuration {
    modi:                "drun,filebrowser,window,run";
    show-icons:          true;
    icon-theme:         "Fluent";
    display-drun:        " ";
    display-run:         " ";
    display-filebrowser: " ";
    display-window:      " ";
    drun-display-format: "{name}";
    hover-select:        false;
    scroll-method:       1;
    me-select-entry:     "";
    me-accept-entry:     "MousePrimary";
}


@theme "~/.config/rofi/colors.rasi"
@import "~/.config/rofi/current_wallpaper.rasi"



window {
    width:               30em;
    x-offset:            0em;
    y-offset:            2em;
    spacing:             0em;
    padding:             0em;
    margin:              0em;
    border:              2px;
    border-color:        @primary;
    cursor:              "default";
    transparency:        "real";
    location:            north;
    anchor:              north;
    fullscreen:          false;
    enabled:             true;
    border-radius: 14px;
    background-color:    transparent;
}

mainbox {
    enabled:             true;
    spacing:             0em;
    padding:             0em;
    orientation:         horizontal;
    children:            ["listbox"];
    background-color:    transparent;
    background-image:    @current-image;
}

inputbar {
    enabled:             true;
    spacing:             0em;
    padding:             1em;
    children:            ["textbox-prompt-colon", "entry"];
    background-color:    @surface;
}

textbox-prompt-colon {
    enabled:             true;
    expand:              false;
    str:                 "  ";
    padding:             0.5em 0.2em 0em 0em;
    text-color:          @on-surface;
    border-radius:       2em 0em 0em 2em;
    background-color:    transparent;
}

entry {
    enabled:             true;
    spacing:             1em;
    padding:             0.5em;
    background-color:    @surface;
    text-color:          @on-surface;
    cursor:              text;
    placeholder:         "Search";
    placeholder-color:   @on-surface-variant;
}

listbox {
    padding:             0em;
    spacing:             0em;
    orientation:         vertical;
    children:            ["inputbar", "listview"];
    background-color:    @background;
}

listview {
    padding:             1em;
    spacing:             0em;
    margin:              0em;
    enabled:             true;
    columns:             1;
    lines:               8;
    cycle:               true;
    dynamic:             true;
    scrollbar:           false;
    layout:              vertical;
    fixed-height:        true;
    fixed-columns:       true;
    background-color:    transparent;
    text-color:          @on-surface;
}

element {
    enabled:             true;
    padding:             1em;
    margin:              0em;
    cursor:              pointer;
    background-color:    transparent;
    text-color:          @on-surface;
    border-radius: 10px;
}

element normal normal    { background-color: inherit;  text-color: @on-surface; }
element selected normal  { background-color: @surface; text-color: @on-surface; border-radius: 1.5em; }
element alternate normal { background-color: inherit;  text-color: @on-surface; }

element-icon {
    size:                2em;
    cursor:              inherit;
    background-color:    transparent;
    text-color:          inherit;
}

element-text {
    cursor:              inherit;
    background-color:    transparent;
    text-color:          inherit;
}
